:root {
   --color_primary_text:  #132f4c;
   --color-dark : #1f222a;
   --color-dark-text : #818799;
   --color-blue : #004de4;
   --color-blue-background : #0244c6;
   --color-footer : #ebecf2;
   --text-color : hsl(211, 60%, 19%);
   --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
}

/* reset settings for all browser */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}


html {
  font-size: 62.5%;
}

body {
  font-family:  Roboto, Lato, Montserrat, sans-serif;
  /* min-width: 32rem; */
  font-size: 1.6rem;
  position: relative;
   /* max-width: 1440px; */
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center;  */
  background-color: #f3f6f9;
}

.flex,
.c-flex {
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
 }

.c-flex{
  flex-direction: column;
}

a {
 color: inherit;
 text-decoration: none;
}

main{
 /* background-color: red; */
 margin-top: 2rem;
}

.hide{
 display: none;
}

.welcome{
 padding: 0rem 1rem;
 padding-bottom: 5rem;
 margin-top: 9rem;
 justify-items: center;
 width: 100%;
 background-color: #f3f6f9;
 background-attachment: fixed;
 /* border: 1px solid gray; */
 /* height: 100vh; */
 gap: 4rem;
}

.welcome_wrapper{
  flex-direction: column;
  width: 100%;
  max-width: 1440px;
  /* border: 1px solid red; */
}

.welcome h2{
 font-size: 2rem;
 font-weight: 900;
  letter-spacing: 0.1rem;
  /* padding: 0.5rem 0rem; */
  background: linear-gradient(to right, var(--text-color), var(--color-blue));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.welcome-text{
 width: 100%;
 padding: 1rem;
 margin-bottom: 3rem;
 /* border: 1px solid gray; */
}

.welcome p{
 font-size: 1.3rem;
 font-weight: 900;
 color: #132f4c;
 letter-spacing: 0.1rem;
 padding: 1rem 0rem;
 padding-bottom: 5rem;
}

.welcome-img{
 width: 100%;
 padding: 2rem 2.3rem;
 justify-content: center;
 align-content: center;
 /* border: 1px solid gray; */
}

.img-diagram{
  width: 100%;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.welcome_buttons{
 
 /* border: 1px solid red; */
 gap: 2rem;
}

.link-button:hover{
 color: white;
 background-color: var(--color-dark-text);
}

.benefits{
 background-color: white;
 flex-direction: column;
 align-items: center;
 padding: 5rem 2rem;
 color: var(--color_primary_text);

}

.benefits h2{
 align-self: center;
 margin-bottom: 2rem;
 color:  var(--text-color);
}

.card-wrapper{
  padding: 2rem 1rem;
  width: 100%;
  max-width: 1440px;
  flex-direction: column;
  justify-content: space-evenly;  
  gap: 5rem;
  background-image: url(../../public/pattern-bg.svg);
  background-size: 20rem auto;
  background-position: right 40px top 0px;
  background-position: right 0px bottom 0px;
  background-repeat: no-repeat, no-repeat;
}

.contact_us{
  padding: 1.5rem;
  background-color: white;
  /* background-image:url('../../public/images/double-bubble-outline.png'),  */
  flex-direction: column;;
  justify-content: center;
  padding-bottom: 2.5rem;

 }

 .contact_us h2{
   margin-bottom: 4rem;
   text-align:  center;
   font-size: 2.2rem;
   font-weight: 700;
 }

 .contact_us_wrapper{
  /* background-image: url('../../public/pattern-bg.svg'); */
   width: 100%;
   border-radius: 3px;
   max-width: 1440px;
 }

.contact_note{
  padding: 3rem 2rem;
  color: rgb(202, 201, 201);
  width: 100%;
  background-color: #132f4c;
}

.contact_note h3{
  margin-bottom: 2.5rem;
  color:white
}

.contact_note p{
 margin-bottom: 2rem;
}

.form_wrapper{
  padding:  2rem;
}

.fag-container {
 background-color: white;
 align-items: center;
}

.fag_inner_wrapper{

 background-image: url(../../public/pattern-quotes.svg),
                    url(../../public/bg-pattern-bottom.svg);
 background-size: 5rem auto, 30% auto;
 background-position: left 10% top 0px, right 0px bottom 0px;
 /* background-position: right 0px bottom 0px; */
 background-repeat: no-repeat, no-repeat;
 padding: 1rem;
 max-width: 1440px;
}


.fag-container h2{
 margin: 2rem;
 align-self: center;
}


.fag_links{
 display: inline-block;
 margin: 0 0.2rem;
 color: var(--color-blue);
}

.contact_btn_wrapper{
  justify-content: flex-end;
}

@media screen and (min-width: 425px) {
   .welcome-img{
    width: 90%;
    align-self: center;

   }
}


@media screen and (min-width: 768px) {
 .welcome{
  flex-direction: row;
   padding: 1rem;
   margin-top: 10rem;
   justify-content: center;
   padding-bottom: 5rem;
   gap: 1rem;  /*reset mobile gap to use percentage*/
 }


 .welcome_wrapper{
  flex-direction: row;
  justify-content: space-between;
   width: 100%;
   max-width: 1440px;
 }

 .welcome-text{
  width: 57%;
  font-size: 1.4rem;
 }

 .welcome-text h2{
  font-size: 1.4rem;
 }

 .welcome-img{
  width: 40%;
  padding: 1rem;
 }

 .benefits{
  background-color: white;
  padding: 4rem 2rem;
 }
 
 .benefits h2{
   display: flex;
   justify-self: center;
 }

 .card-wrapper{
  align-items: center;
 }

 .contact_us{
  padding: 2.5rem 2rem;
  justify-items: center;

 }

 .form_divider{
   flex-direction: row;
   justify-content: space-between;
 }

 .form_name,
 .form_email{
  display: inline-block;
  width: 45%;
 }


 .fag-container{
  padding: 5rem;
 }

}


@media screen and (min-width: 1024px ) {
 .card-wrapper{
  flex-direction: row;
  padding: 2rem;
  flex: 1 1 25%;
 }


 .welcome{
  margin-top: 12rem;
   padding: 1rem 3rem;
   padding-bottom: 6rem;
 }

 .welcome-text h2{
  font-size: 2.4rem;
 
 }
 .benefits{
  padding: 5rem 2rem;
 }

  .benefits h2{
   margin-bottom: 3rem;
  }

 .contact_us{
  padding: 5rem 2rem;
  padding-bottom: 10rem;
  justify-items: center;
 }

 .contact_note{
  padding: 3rem 2rem;
  color: rgb(202, 201, 201);
  width: 50%;
  background-color: transparent;
}

 .contact_us_wrapper{
  background-image: linear-gradient(-105deg,
                   white  0%, 
                   white  50%,
                   #132f4c 50%);
  background-image: linear-gradient(105deg,
                    #132f4c 0%, 
                    #132f4c  50%,
                   white 50%);
   display:flex;
   justify-content: space-between;
  box-shadow: 0rem 1rem 1rem rgba(31, 34, 42, 0.2);
  /* box-shadow: rgba(0, 0, 0, 0.19) 0px 1px 2px, rgba(0, 0, 0, 0.23) 0px 1px 1px; */
   width: 90%;
   align-self: center;
   border-radius: 3px;

 }

 .form_wrapper{
   width: 50%;
   flex-direction: column;   
   align-items: center;
   align-content: center;
 }

 .contact_form{
    width: 100%;
    padding-left: 3rem;
 }

 .form_divider{
  flex-direction: column;
  width: 100%;
}

.form_name,
.form_email{
 display: inline-block;
 width: 100%;
}


.download{
  padding: 25rem 65rem;
  border: 3px solid var(--color-dark-text);
}
/* .fag-wrapper{
 display: flex;
 flex-wrap: wrap;
 gap: 5%;
 flex-direction: row;
 flex: 1 1 40%;
} */

/* .Fag{
 width: 50%;
} */
}


