
.card {
 overflow: hidden;
 position: relative;
 width: 100%;
 text-align: left;
 border-radius: 0.5rem;
 width: auto;
 background-color: white;
 padding: 2rem 1rem;
 box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
 box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.card:hover{
 /* transform: scale(1.1); */
 background-color:  #f3f6f9;
 box-shadow: none;
}


@media screen and (min-width: 768px) {
  .card{
   width: 90%;
   padding: 4rem;
  }
}

@media screen and (min-width: 1024px ) {
 .card{
   width: 29%;
   padding: 2rem;
 }

}

.card .header{
padding: 1rem 0rem ;
font-size: 1.6rem;
}

.card .image {
display: flex;
margin-left: auto;
margin-right: auto;
background-color: #e2eefa;
flex-shrink: 0;
justify-content: center;
align-items: center;
width: 4rem;
height: 4rem;
border-radius: 9999px;
}

.card .image svg {
/* color: green; */
width: 1.5rem;
height: 1.5rem;
font-size: 4rem;
} 

.content {
margin-top: 0.75rem;
text-align: center;
}

.title {
color: #132f4c;
display: block;
font-size: 1.8rem;
font-weight: 600;
line-height: 1.5rem;
padding: 1rem ;
}

.message {
margin-top: 0.5rem;
color: #111827;
font-size: 1.4rem;
/* line-height: 1.25rem; */
}

