
.header{
  width: 100;
  height: 7rem;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;  z-index: 5;
  /* opacity: 0.6; */
  background-color: transparent;
}

.header_1_wrapper_inner,
.header_2_inner_wrapper,
.description,
.social_links,
.nav_desktop,
.desk_nav_list,
.nav{
  display: flex;
}

.header_1_wrapper{
 height: 2.8rem;
 background-color: #1f222a;
 color:#898c96;
 padding: 0rem 3rem;
}

.header_1_wrapper_inner{
  height: 100%;
  justify-content: space-between;
  
 align-items: center;
}

.description{
  font-size: 1.2rem;
  align-items: center;
  height: 100%;
  /* color: white */
}

.social_links{
  height: 100%;
  align-items: center;
  font-size: 1.5rem;
  gap: 1rem;
}

.social_links_item:hover {
 color: lightgray;
 transform: scale(1.1);
 cursor: pointer;
}  


.header_2_wrapper{
 padding: 0rem 3rem;
 height: 4.2rem;
 /* background-color: rgba(0, 0, 0, 0.1); */
 /* box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px; */
}

.header_2_inner_wrapper{
 font-size: 0.8rem;
 height: 100%;
 align-items: center;
 font-style: italic;
 justify-content: space-between;
 /* border: 1px solid red; */
}

.laky{
 color: #004de4;
}

.nav{
 width: 50%;
 height: 100%;
 align-items: center;
 justify-content: center;
}

.desk_nav_list{
  width: 100%;
  font-weight: 500;
  align-content: center;
  list-style-type: none;
  gap: 10%;
  color: #696969;
  font-size: 1.4rem;
}

