


.fag_question{
 display: flex;
 flex-wrap: wrap;
 line-break:strict;
 /* font-weight: 200; */
}

.question{
 display: flex;
 align-items: center;
}

.fag_question_text{
 display: inline-block;
}

.fag_number{
 display: inline-block;
 margin-right: 1rem;
 font-weight: 900;
 font-style: italic;
 font-size: 2.5rem;
 letter-spacing: 5px;
 color: #ccddee;

}

.ans_wrapper{
  padding: 1rem;
  margin: 2rem 0rem;
  align-self: center;
  width: 90%;

}