.footer{
 display: flex;
 flex-direction: column;

 padding: 4rem;
 background-color: #eaf5ff;
 /* background-color: #132f4c; */
 /* border: 3px solid yellow; */
}

.footer_wrapper{
 /* height: 100%; */
 /* border: 1px solid red; */
}


.footer_top,
.footer_top h1{
 font-size: 1.6rem;
 font-style: italic;
 
}

.footer_top h1{
  display: inline-block;
  margin-left: 10px;
}

.footer_top{
 width: 100%;
 display: flex;
  justify-content: center;
}

.footer_down{
 display: flex;
 justify-content: center;
 flex: auto;
 gap: 1rem;
  font-size: 2.3rem;
  padding-top: 3rem ;
  width: auto;
  height: auto;
}

.icons{
 transition: all 0.1s;
 
}

.icons:hover{
 transform: scale(1.2);
 
}